.Todo_Header {
  color: white;
  text-shadow: 1px 1px 3px black;
  background: linear-gradient(to right, #4719aa, #4615b2, #4719aa);
  height: 58px;
  border: 1px solid #4719aa;
  margin-bottom: 25px;
  padding: 7px;
  box-shadow: 0px 2px 5px gray;
}